<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anka.Anka" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Anka.Properties.Settings.ankaConnectionString" connectionString="server=localhost;user id=root;password=admin;database=anka"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Anka.Anka>
            <setting name="Sever" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UID" serializeAs="String">
                <value />
            </setting>
            <setting name="PW" serializeAs="String">
                <value />
            </setting>
            <setting name="DataConectionInfoSave" serializeAs="String">
                <value>False</value>
            </setting>
        </Anka.Anka>
    </userSettings>
</configuration>